/* footer bottom of the page */
html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

/* 404 page */
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

/* form cards */
.card {
    /*background-color: #f7f7f9;*/
    background-color: #e9ecef;
}

/* table selected rows */
#places tbody tr.selected {
    background-color: #007bff;
}

#places tbody tr.selected td:first-child {
    background-color: #007bff;
}

/*.select2-container--default {*/
    /*min-height: 100px !important;*/
    /*max-height: 100px !important;*/
    /*overflow-y: auto;*/
/*}*/